@using Resume.Views;
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IViewLocalizer Localizer
@model BaseViewModel

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*  TODO:  <title>@ViewData["Title"] - @Model.AuthorName</title>*@
    <title>@ViewData["Title"]</title>
    @*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    @*    <link rel="stylesheet" href="~/Resume.styles.css" asp-append-version="true" />*@
</head>
<body id="body">
    <header id="header">
        <a asp-controller="Account" asp-action="Portfolio" class="link">
            <h1 class="author-name-title">@Localizer["EditProfile"]</h1>
        </a>
        <nav>
            <div class="nav-list">
                <div><a asp-controller="Account" asp-action="Portfolio">@SharedLocalizer["Portfolio"]</a></div>
                <div><a asp-controller="Account" asp-action="Biography">@SharedLocalizer["Biography"]</a></div>
                <div><a asp-controller="Account" asp-action="Contact">@SharedLocalizer["Contact"]</a></div>
                <div class="underline-nav"><a asp-controller="Account" asp-action="Storage">@SharedLocalizer["Storage"]</a></div>
                <div><a asp-controller="Home" asp-action="Portfolio">@Localizer["Return"]</a></div>
                <div>
                    <form asp-controller="Authorization" asp-action="Logout">
                        <button type="submit" class="logout-button">@SharedLocalizer["Logout"]</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="content-container">
        <div class="top-bar">
            @await Html.PartialAsync("_SetLanguagePartial", Model.CultureViewModel)
        </div>
        <main>
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
