@inject IViewLocalizer Localizer
@model EditWorkViewModel

@{
    ViewData["Title"] = Model.Name;
    string src = $"/images/{Model.ImageSrc}";
}
<form method="post">
    <div class="edit-work">
        <div class="edit-work-image-container">
            <img src="@src" class="edit-work-image">
            <button asp-action="DeleteWork" type="submit" class="delete-work-button">@Localizer["Delete"]</button>
            <input asp-for="@Model.Id" type="hidden">
        </div>
        <div>
            <div class="edit-work-input-group">
                <div class="edit-work-input">
                    <label asp-for="@Model.Name" class="edit-work-label">@Localizer["Title"]</label>
                    <input asp-for="@Model.Name" />
                </div>
                <div class="edit-work-input">
                    <label asp-for="@Model.Description" class="edit-work-label">@Localizer["Description"]</label>
                    <textarea asp-for="@Model.Description" rows="7"></textarea>
                </div>
                <div class="edit-work-input">
                    <label asp-for="@Model.Comment" class="edit-work-label">@Localizer["Comment"]</label>
                    <input asp-for="@Model.Comment" />
                </div>
                <button asp-action="EditWork" type="submit" class="edit-work-button">@Localizer["Save"]</button>
            </div>
            <input asp-for="@Model.ImageSrc" hidden />
        </div>
    </div>
</form>