@using Resume.Views;
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model StorageViewModel

@{
    ViewData["Title"] = Localizer["Storage"];
}

<form method="post"
      enctype="multipart/form-data">
    <div class="file-upload">
        <label class="file-upload-label">
            <input asp-for="@Model.NewFile"
                   type="file"
                   accept="image/*"
                   class="change-upload-name-js">
            <span class="file-upload-text">@Localizer["SelectFile"]</span>
            <span class="file-upload-name"></span>
        </label>
        <button asp-action="UploadFile"
                type="submit"
                disabled="disabled"
                class="file-upload-button">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</form>
<form method="post"
      id="storage-form"
      class="storage-js">
    <div class="storage">
        @for (int i = 0; i < Model.Files.Count(); ++i)
        {
            string src = $"/images/{Model.Files[i].Id}.{Model.Files[i].Extension}";
            <div class="storage-file storage-file-js">
                <img src="@src"
                     image-id="@Model.Files[i].Id"
                     class="storage-image storage-image-js">
                <div value="@Model.Files[i].Name"
                     image-id="@Model.Files[i].Id"
                     class="storage-filename">
                    @Model.Files[i].Name
                </div>
            </div>
        }
    </div>
    <input asp-for="@Model.NewFileName"
           type="text" id="filename-input"
           class="storage-filename" />
    <div id="enlarge-image-container">
        <img id="enlarge-image">
        <button type="button"
                id="close-enlarge-image"
                class="close-enlarge-image-js">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div id="storage-toolbar">
        <input asp-for="@Model.SelectFileId"
               type="hidden"
               id="storage-selected-path" />
        <button type="button"
                id="show-input-button"
                class="edit-file-name-js">
            <i class="fa fa-pencil"></i>
        </button>
        <button asp-action="EditFileName"
                type="submit"
                id="edit-name-button">
            <i class="fa fa-check"></i>
        </button>
        <button type="button"
                id="enlarge-button"
                class="storage-image-js">
            <i class="fa fa-search-plus"></i>
        </button>
        <button asp-action="DeleteFile"
                type="submit">
            <i class="fa fa-trash-o"></i>
        </button>
    </div>
</form>
<div id="window-hover"></div>

@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/js/storage.js" asp-append-version="true"></script>
}