@model WorkViewModel

@{
    ViewData["Title"] = @Model.Work.Name;
    string src = $"/images/{Model.Work.StorageFile.Id}.{Model.Work.StorageFile.Extension}";
}

<div class="work-detail">
    <img src="@src" class="work-detail-image">
    <div class="work-text">
        <h2 class="work-title">@Model.Work.Name</h2>
        <p class="work-description">@Model.Work.Description</p>
        <p class="work-comment">@Model.Work.Comment</p>
    </div>
</div>