@using Resume.Views;
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model AuthorizationViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <title>@SharedLocalizer["Login"]</title>
    <link rel="stylesheet"
          href="~/css/normalize.css" />
    <link rel="stylesheet"
          href="~/css/styles.css"
          asp-append-version="true" />
</head>
<body>
    <main class="login">
        <form asp-route-returnUrl="@Model.ReturnUrl"
              method="post"
              class="login-group">
            <div class="login-input">
                <input asp-for="@Model.Email">
                <span asp-validation-for="@Model.Email"></span>
            </div>
            <div class="login-input">
                <input asp-for="@Model.Password">
                <span asp-validation-for="@Model.Password"></span>
            </div>
            <div asp-validation-summary="ModelOnly"></div>
            <button type="submit"
                    class="login-button">
                @SharedLocalizer["Login"]
            </button>
        </form>
    </main>
</body>
</html>

@await Html.PartialAsync("_ValidationScriptsPartial")